Assets/StreamingAssets/schema0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Common" nillable="true" type="Common" />
  <xs:complexType name="Common">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="define_card" type="CardXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardXml">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="condition_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="effect_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="meme" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="cost" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="exhaust" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="category" type="CardTypeXml" />
      <xs:element minOccurs="0" maxOccurs="1" name="requirements" type="AllNode" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_draw" type="EffectList" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_play_card" type="EffectList" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CardTypeXml">
    <xs:restriction base="xs:string">
      <xs:enumeration value="none" />
      <xs:enumeration value="logic" />
      <xs:enumeration value="spirital" />
      <xs:enumeration value="moral" />
      <xs:enumeration value="immoral" />
      <xs:enumeration value="roundabout" />
      <xs:enumeration value="aggressive" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AllNode">
    <xs:complexContent mixed="false">
      <xs:extension base="ComplexCondition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ComplexCondition" abstract="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="requirement" type="xs:string" />
        <xs:element minOccurs="0" maxOccurs="1" name="all" type="AllNode" />
        <xs:element minOccurs="0" maxOccurs="1" name="any" type="AnyNode" />
        <xs:element minOccurs="0" maxOccurs="1" name="none" type="NoneNode" />
        <xs:element minOccurs="0" maxOccurs="1" name="count_requirement" type="CountRequirement" />
        <xs:element minOccurs="0" maxOccurs="1" name="is_card_name" type="IsCardName" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnyNode">
    <xs:complexContent mixed="false">
      <xs:extension base="ComplexCondition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NoneNode">
    <xs:complexContent mixed="false">
      <xs:extension base="ComplexCondition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CountRequirement">
    <xs:complexContent mixed="false">
      <xs:extension base="SingleCondition">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="compare_type" type="CompareType" />
          <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="requirements" type="ComplexCondition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SingleCondition" abstract="true" />
  <xs:simpleType name="CompareType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LT" />
      <xs:enumeration value="GT" />
      <xs:enumeration value="LE" />
      <xs:enumeration value="GE" />
      <xs:enumeration value="EQ" />
      <xs:enumeration value="NE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IsCardName">
    <xs:complexContent mixed="false">
      <xs:extension base="ComplexCondition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="card" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EffectList">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="add_pressure" type="AddPressure" />
        <xs:element minOccurs="0" maxOccurs="1" name="add_card_to_hand" type="AddStaticCard2Hand" />
        <xs:element minOccurs="0" maxOccurs="1" name="add_status" type="AddStatus" />
        <xs:element minOccurs="0" maxOccurs="1" name="add_strength" type="AddStrength" />
        <xs:element minOccurs="0" maxOccurs="1" name="add_cost_modifier" type="AnonymousModifyCost" />
        <xs:element minOccurs="0" maxOccurs="1" name="modify_focus" type="AnonymousModifyFocus" />
        <xs:element minOccurs="0" maxOccurs="1" name="modify_personality" type="AnonymousModifyPersonality" />
        <xs:element minOccurs="0" maxOccurs="1" name="modify_speech" type="AnonymousModifySpeech" />
        <xs:element minOccurs="0" maxOccurs="1" name="discard_all_hand" type="DiscardAllHand" />
        <xs:element minOccurs="0" maxOccurs="1" name="discard_some_hand" type="DiscardSomeHand" />
        <xs:element minOccurs="0" maxOccurs="1" name="draw" type="Draw" />
        <xs:element minOccurs="0" maxOccurs="1" name="modify_health" type="AddHealth" />
        <xs:element minOccurs="0" maxOccurs="1" name="set_draw_ban" type="SetDrawBan" />
        <xs:element minOccurs="0" maxOccurs="1" name="GUI_tendency_add" type="GUISelectTendencyAdd" />
        <xs:element minOccurs="0" maxOccurs="1" name="GUI_select_hand" type="GUISelectHand" />
        <xs:element minOccurs="0" maxOccurs="1" name="GUI_select_dynamic_card" type="GUISelectDynamicCard" />
        <xs:element minOccurs="0" maxOccurs="1" name="GUI_select_static_card" type="GUISelectStaticCard" />
        <xs:element minOccurs="0" maxOccurs="1" name="random_dynamic_card" type="RandomDynamicCard" />
        <xs:element minOccurs="0" maxOccurs="1" name="foreach_dynamic_card" type="ForEachDynamicCard" />
        <xs:element minOccurs="0" maxOccurs="1" name="activate" type="ActivateCard" />
        <xs:element minOccurs="0" maxOccurs="1" name="add_copy_to_hand" type="AddCopy2HandNode" />
        <xs:element minOccurs="0" maxOccurs="1" name="discard" type="DiscardCard" />
        <xs:element minOccurs="0" maxOccurs="1" name="execute" type="ExecuteCard" />
        <xs:element minOccurs="0" maxOccurs="1" name="potantial" type="IF" />
        <xs:element minOccurs="0" maxOccurs="1" name="set_global_variable" type="SetGlobalVar" />
        <xs:element minOccurs="0" maxOccurs="1" name="GUI_select_condition_nerf" type="GUISelectNerfCondition" />
        <xs:element minOccurs="0" maxOccurs="1" name="GUI_select_choice" type="GUISelectCurrentSlot" />
        <xs:element minOccurs="0" maxOccurs="1" name="all_random_reveal" type="AllChoiceRandomReveal" />
        <xs:element minOccurs="0" maxOccurs="1" name="choice_remove_condition" type="ChoiceRemoveCondition" />
        <xs:element minOccurs="0" maxOccurs="1" name="choice_reveal" type="ChoiceReveal" />
        <xs:element minOccurs="0" maxOccurs="1" name="choice_reveal_all" type="ChoiceRevealAll" />
        <xs:element minOccurs="0" maxOccurs="1" name="choice_reveal_random" type="ChoiceRevealRandom" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddPressure">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Effect" abstract="true" />
  <xs:complexType name="ChoiceRevealRandom">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChoiceRevealAll">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChoiceReveal">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="include" type="PersonalityTypeXml" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PersonalityTypeXml">
    <xs:restriction base="xs:string">
      <xs:enumeration value="inside" />
      <xs:enumeration value="outside" />
      <xs:enumeration value="logic" />
      <xs:enumeration value="spirital" />
      <xs:enumeration value="moral" />
      <xs:enumeration value="immoral" />
      <xs:enumeration value="roudabout" />
      <xs:enumeration value="strong" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChoiceRemoveCondition">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="include" type="PersonalityTypeXml" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ChoiceEffect" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AllChoiceRandomReveal">
    <xs:complexContent mixed="false">
      <xs:extension base="ChoiceEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="speech_type" type="SpeechType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SpeechType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal" />
      <xs:enumeration value="cheat" />
      <xs:enumeration value="threaten" />
      <xs:enumeration value="persuade" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GUISelectCurrentSlot">
    <xs:complexContent mixed="false">
      <xs:extension base="ChoiceEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="action" type="EffectList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GUISelectNerfCondition">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SetGlobalVar">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CardEffect" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ExecuteCard">
    <xs:complexContent mixed="false">
      <xs:extension base="CardEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="card" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiscardCard">
    <xs:complexContent mixed="false">
      <xs:extension base="CardEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="card" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddCopy2HandNode">
    <xs:complexContent mixed="false">
      <xs:extension base="CardEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="card" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActivateCard">
    <xs:complexContent mixed="false">
      <xs:extension base="CardEffect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="target" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="permanent" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IF">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="condition" type="AllNode" />
          <xs:element minOccurs="0" maxOccurs="1" name="action" type="EffectList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ForEachDynamicCard">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="include" type="PileType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="potantial" type="IF" />
          <xs:element minOccurs="0" maxOccurs="1" name="target" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PileType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hand" />
      <xs:enumeration value="draw_pile" />
      <xs:enumeration value="discard_pile" />
      <xs:enumeration value="all" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RandomDynamicCard">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="include" type="PileType" />
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="condition" type="AllNode" />
          <xs:element minOccurs="0" maxOccurs="1" name="action" type="EffectList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GUISelectStaticCard">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="card_list" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="action" type="EffectList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GUISelectDynamicCard">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="include" type="PileType" />
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="condition" type="AllNode" />
          <xs:element minOccurs="0" maxOccurs="1" name="action" type="EffectList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GUISelectHand">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="condition" type="AllNode" />
          <xs:element minOccurs="0" maxOccurs="1" name="action" type="EffectList" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GUISelectTendencyAdd">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="includes" type="ArrayOfPersonalityTypeXml" />
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonalityTypeXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="include" type="PersonalityTypeXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SetDrawBan">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddHealth">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Draw">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiscardSomeHand">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="num" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiscardAllHand">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnonymousModifySpeech">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Modifer" type="SpeechArtXml" />
          <xs:element minOccurs="0" maxOccurs="1" name="duration" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SpeechArtXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="normal" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="cheat" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="threat" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="persuade" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnonymousModifyPersonality">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="personality" type="PersonalityXml" />
          <xs:element minOccurs="0" maxOccurs="1" name="duration" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="dmg_type" type="DMGTypeXml" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonalityXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="inside" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="outside" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="logic" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="spirital" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="moral" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="immoral" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="roundabout" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="aggressive" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DMGTypeXml">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Magic" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AnonymousModifyFocus">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="type" type="SpeechType" />
          <xs:element minOccurs="0" maxOccurs="1" name="duration" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnonymousModifyCost">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="modifier" type="CostModifierXml" />
          <xs:element minOccurs="0" maxOccurs="1" name="duration" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CostModifierXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="condition" type="SingleCondition" />
      <xs:element minOccurs="0" maxOccurs="1" name="factor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AddStrength">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddStatus">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="target" type="TargetTypeEnum" />
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TargetTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="from" />
      <xs:enumeration value="target" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AddStaticCard2Hand">
    <xs:complexContent mixed="false">
      <xs:extension base="Effect">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Loader" nillable="true" type="Loader" />
  <xs:complexType name="Loader" />
  <xs:element name="CardTypeXml" type="CardTypeXml" />
  <xs:element name="DMGTypeXml" type="DMGTypeXml" />
  <xs:element name="PersonalityTypeXml" type="PersonalityTypeXml" />
  <xs:element name="PileTypeXml" type="PileTypeXml" />
  <xs:simpleType name="PileTypeXml">
    <xs:restriction base="xs:string">
      <xs:enumeration value="hand" />
      <xs:enumeration value="draw_pile" />
      <xs:enumeration value="discard_pile" />
      <xs:enumeration value="all" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SpeechTypeXml" type="SpeechTypeXml" />
  <xs:simpleType name="SpeechTypeXml">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal" />
      <xs:enumeration value="cheat" />
      <xs:enumeration value="threaten" />
      <xs:enumeration value="persuade" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TargetTypeEnum" type="TargetTypeEnum" />
  <xs:element name="Effect" nillable="true" type="Effect" />
  <xs:element name="EffectList" nillable="true" type="EffectList" />
  <xs:element name="AddHealth" nillable="true" type="AddHealth" />
  <xs:element name="AddPressure" nillable="true" type="AddPressure" />
  <xs:element name="AddStaticCard2Hand" nillable="true" type="AddStaticCard2Hand" />
  <xs:element name="AddStatus" nillable="true" type="AddStatus" />
  <xs:element name="AddStrength" nillable="true" type="AddStrength" />
  <xs:element name="AnonymousModifyCost" nillable="true" type="AnonymousModifyCost" />
  <xs:element name="AnonymousModifyFocus" nillable="true" type="AnonymousModifyFocus" />
  <xs:element name="AnonymousModifyPersonality" nillable="true" type="AnonymousModifyPersonality" />
  <xs:element name="AnonymousModifySpeech" nillable="true" type="AnonymousModifySpeech" />
  <xs:element name="DiscardAllHand" nillable="true" type="DiscardAllHand" />
  <xs:element name="DiscardSomeHand" nillable="true" type="DiscardSomeHand" />
  <xs:element name="Draw" nillable="true" type="Draw" />
  <xs:element name="GUISelectTendencyAdd" nillable="true" type="GUISelectTendencyAdd" />
  <xs:element name="SetDrawBan" nillable="true" type="SetDrawBan" />
  <xs:element name="IF" nillable="true" type="IF" />
  <xs:element name="IFELSE" nillable="true" type="IFELSE" />
  <xs:complexType name="IFELSE" />
  <xs:element name="SetGlobalVar" nillable="true" type="SetGlobalVar" />
  <xs:element name="AllNode" nillable="true" type="AllNode" />
  <xs:element name="AnyNode" nillable="true" type="AnyNode" />
  <xs:element name="ComplexCondition" nillable="true" type="ComplexCondition" />
  <xs:element name="CompareType" type="CompareType" />
  <xs:element name="CountRequirement" nillable="true" type="CountRequirement" />
  <xs:element name="IsCardName" nillable="true" type="IsCardName" />
  <xs:element name="NoneNode" nillable="true" type="NoneNode" />
  <xs:element name="SingleCondition" nillable="true" type="SingleCondition" />
  <xs:element name="StringCondition" nillable="true" type="StringCondition" />
  <xs:complexType name="StringCondition">
    <xs:complexContent mixed="false">
      <xs:extension base="SingleCondition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ConditionExpression" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AllChoiceRandomReveal" nillable="true" type="AllChoiceRandomReveal" />
  <xs:element name="ChoiceEffect" nillable="true" type="ChoiceEffect" />
  <xs:element name="ChoiceRemoveCondition" nillable="true" type="ChoiceRemoveCondition" />
  <xs:element name="ChoiceReveal" nillable="true" type="ChoiceReveal" />
  <xs:element name="ChoiceRevealAll" nillable="true" type="ChoiceRevealAll" />
  <xs:element name="ChoiceRevealRandom" nillable="true" type="ChoiceRevealRandom" />
  <xs:element name="GUISelectCurrentSlot" nillable="true" type="GUISelectCurrentSlot" />
  <xs:element name="GUISelectNerfCondition" nillable="true" type="GUISelectNerfCondition" />
  <xs:element name="ActivateCard" nillable="true" type="ActivateCard" />
  <xs:element name="AddCopy2HandNode" nillable="true" type="AddCopy2HandNode" />
  <xs:element name="CardEffect" nillable="true" type="CardEffect" />
  <xs:element name="DiscardCard" nillable="true" type="DiscardCard" />
  <xs:element name="ExecuteCard" nillable="true" type="ExecuteCard" />
  <xs:element name="ForEachDynamicCard" nillable="true" type="ForEachDynamicCard" />
  <xs:element name="GUISelectDynamicCard" nillable="true" type="GUISelectDynamicCard" />
  <xs:element name="GUISelectHand" nillable="true" type="GUISelectHand" />
  <xs:element name="GUISelectStaticCard" nillable="true" type="GUISelectStaticCard" />
  <xs:element name="RandomDynamicCard" nillable="true" type="RandomDynamicCard" />
  <xs:element name="CostModifierXml" nillable="true" type="CostModifierXml" />
  <xs:element name="PersonalityXml" nillable="true" type="PersonalityXml" />
  <xs:element name="SpeechArtXml" nillable="true" type="SpeechArtXml" />
  <xs:element name="CardXml" nillable="true" type="CardXml" />
  <xs:element name="ModifierXml" nillable="true" type="ModifierXml" />
  <xs:complexType name="ModifierXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="personality_linear" type="PersonalityXml" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="personality_factor" type="xs:float" />
      <xs:element minOccurs="0" maxOccurs="1" name="focus" nillable="true" type="SpeechType" />
      <xs:element minOccurs="0" maxOccurs="1" name="speech" type="SpeechArt" />
      <xs:element minOccurs="0" maxOccurs="1" name="cost_modifier" type="CostModifierXml" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_turn_start" type="EffectList" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_play_card" type="EffectList" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_shuffle" type="EffectList" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_buff" type="EffectList" />
      <xs:element minOccurs="0" maxOccurs="1" name="additional_energy" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="additional_draw" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpeechArt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="normal" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="cheat" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="threaten" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="persuade" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelicLibInfo" nillable="true" type="RelicLibInfo" />
  <xs:complexType name="RelicLibInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="relics" type="ArrayOfRelicXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRelicXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relic" nillable="true" type="RelicXml" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelicXml">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="title" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="rarity" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="category" type="PersonalityTypeXml" />
      <xs:element minOccurs="1" maxOccurs="1" name="init_num" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_pick_up" type="EffectList" />
      <xs:element minOccurs="0" maxOccurs="1" name="binding_modifier" type="ModifierXml" />
      <xs:element minOccurs="0" maxOccurs="1" name="on_value_change" type="EffectList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RelicXml" nillable="true" type="RelicXml" />
</xs:schema>